#ContentPlaceHolder1_GridViewUsers tbody td {
    padding: 10px 10px;
}

#ContentPlaceHolder1_GridViewUsers tbody th {
    padding: 10px;
}

#ContentPlaceHolder1_GridViewUsers {
    border-spacing: 50px 0;
}


